/* ----------Font Family--------- */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

/* -------tailwind css---------- */
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}
/* --------Themes----------- */
@theme{
  --font-jost: "Jost", "sans-serif";
  --font-vollkorn: "Vollkorn", "serif";
  --color-primary: #00413D;
  --color-second: #E5745D;
}

